extends _layouts/main

block content
  include ./components/mixins/item-stock
  include ./components/mixins/param

  div(class="section")
    h1(class="title flex-center") #{environment.page_meta.h1}
    nav(class="breadcrumb has-succeeds-separator", aria-label="breadcrumbs")
      ul
        each val, index in environment.breadcrumbs
          if index === environment.breadcrumbs.length - 1
            li(class="is-active"): a(href=`${val.href}, aria-current="page"`) #{val.text}
          else
            li: a(href=`${val.href}`) #{val.text}

    div(class="block wrapper-content")
      include ./_partials/search-section
      include ./_partials/sort-section